body {
  background-color: #222;
  text-align: center;
  font-family: sans-serif;
}

circle.dot,
#legend rect {
  stroke: black;
  stroke-width: 2px;
  fill: #1f77b4;
}

circle.doping,
#legend rect.doping {
  fill: #ff7f0e;
}

#legend rect {
  transform: translate(950px, 375px);
}

#legend rect.doping {
  transform: translate(950px, 400px);
}

#legend text {
  font-size: 14px;
  transform: translate(805px, 388px);
}

#legend text.doping {
  transform: translate(753px, 413px);
}

text {
  fill: white;
}

.title {
  text-anchor: middle;
  font-size: 30px;
  transform: translate(500px, 40px);
}

.subtitle {
  text-anchor: middle;
  font-size: 18px;
  transform: translate(500px, 70px);
}

#x-axis path,
#x-axis line,
#y-axis path,
#y-axis line {
  stroke: white;
}

#tooltip {
  display: none;
  position: absolute;
  padding: 10px 20px;
  background-color: #546e7a;
  border-radius: 5px;
  color: white;
  text-align: left;
  font-size: 14px;
  transform: translateY(-50%);
  transition: 0.3s;
}

#tooltip a,
#tooltip a:hover {
  color: white;
}

#tooltip:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
